[Unit]
Description=EthMiner_Exporter
After=docker

[Service]
ExecStart=/usr/local/bin/ethminer_exporter
Restart=always

[Install]
WantedBy=multi-user.target
