[Unit]
Description=Kill Ethminers after SIGSEGV
After=docker.service
Requires=docker.service

[Timer]
OnCalendar=*-*-* *:00/5:00
Persistent=true

[Install]
WantedBy=timers.target
